<h1>All Todos</h1>
<% @todos.each do |todo| %>
   <p><%= link_to todo.title, todo %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to todo.title, todo %>
       </h4>
     </div>
   </div>
<% end %>